body {
  font-family: Inconsolata, monospace;
}

#content {
  font-size: 1.2vw;
}
#info {
  font-size: 1vw;
}

.stat-small dt {
  font-size: 1.5vw;
}
.stat-small dd {
  font-size: 2.5vw;
}
.stat-large .heading {
  font-size: 2vw;
}
.stat-large .value {
  font-size: 5vw;
}

#status.not-connected {
  color: #fc0;
}

#status.connected {
  color: #0c0;
}

#status.error {
  color: #c00;
}

#graphrow {
  display:flex;
  min-height: 50vh;
}

#polarchart {
  text-align: center;
}

#polarchart text {
  font-size: 0.9vw;
  fill: #ffc107;
}

#linechart {
  width: 100%;
}
